<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="routine.dao.PaperDao">

	<insert id="insert">
		INSERT INTO paper (id,name,create_date,subject_id) VALUES
		(#{id},#{name},#{createDate},#{subjectId})
	</insert>

	<update id="update"  parameterType="routine.domain.Paper">
		update paper
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="createDate != null">createDate=#{createDate}</if>
		</trim>
		where id=#{id}
	</update>
	<select id="countSelectPaper" parameterType="map" resultType="int">

		SELECT  count(1) as subName from paper pa left join subject su  on  pa.subject_id=su.id
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="paper.name != null and paper.name != ''">pa.name like  CONCAT('%', #{paper.name}, '%')</if>
			<if test="paper.subjectId != null and paper.subjectId != ''">  and   pa.subjectId=#{paper.subjectId}</if>
		</trim>
	</select>

	<select id="selectPaper" parameterType="map" resultType="java.util.Map">

		SELECT  pa.*,su.name as subName from paper pa left join subject su  on  pa.subject_id=su.id
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="paper.name != null and paper.name != ''">pa.name like  CONCAT('%', #{paper.name}, '%')</if>
			<if test="paper.subjectId != null and paper.subjectId != ''"> and   pa.subjectId=#{paper.subjectId}</if>
		</trim>
		LIMIT #{page},#{size}
	</select>

</mapper>